// =============================================================================
// Responder
//
// Magic media queries for your Compass project. You define the breakpoints, 
// Responder takes care of the rest.
//
// More info, installation and usage:
// https://github.com/danielguillan/respond-to
//
// Table of contents:
// 1. Variables
// 2. Initialization
//
// =============================================================================

@import 'compass';
@import 'responder/respond-to';
@import 'responder/functions';

// =============================================================================
// 1. Variables
// =============================================================================

$breakpoint-names: ();
$breakpoint-values: ();
$breakpoint-groups: ();

// Configurable variables
// =============================================================================

$responder-use-ems: true !default;
$responder-ems-context: $base-font-size !default;

// =============================================================================
// 2. Initialization
// =============================================================================

@mixin responder-breakpoints($breakpoints...) {

	@if length($breakpoints) > 1 {
		$breakpoint-names: getBreakpointNames($breakpoints);
		$breakpoint-values: getBreakpointValues($breakpoints);
		$breakpoint-groups: createBreakpointGroups($breakpoint-names,$breakpoint-values);
	}@else {
		@warn 'respond-to-breakpoints requires at least 2 breakpoints';
	}
}