/* line 17, ../scss/style.scss */
body {
  font: 16px/21px "Helvetica Neue", Arial, sans-serif;
}
@media print and (min-width: 20em) and (max-width: 37.4375em) {
  /* line 17, ../scss/style.scss */
  body {
    font-size: 95%;
  }
}

/* line 24, ../scss/style.scss */
.wrapper {
  margin: 0 auto;
  padding: 0 1em;
  max-width: 1000px;
}

/* line 30, ../scss/style.scss */
tr > td:first-child {
  width: 80%;
}

/* line 45, ../scss/style.scss */
.mq-mixins-test {
  width: 100%;
}
/* line 51, ../scss/style.scss */
.mq-mixins-test tbody .response-example {
  text-align: center;
  color: #ccc;
}
/* line 54, ../scss/style.scss */
.mq-mixins-test tbody .response-example .isResponding {
  display: none;
}
@media print and (min-width: 20em) and (max-width: 37.4375em) {
  /* line 60, ../scss/style.scss */
  .mq-mixins-test tbody .respond-to-mobile {
    background: #a7e040;
    color: white;
  }
  /* line 41, ../scss/style.scss */
  .mq-mixins-test tbody .respond-to-mobile .isResponding {
    display: inline;
  }
  /* line 42, ../scss/style.scss */
  .mq-mixins-test tbody .respond-to-mobile .isInactive {
    display: none;
  }
}
@media print and (min-width: 20em) and (max-width: 29.9375em) {
  /* line 65, ../scss/style.scss */
  .mq-mixins-test tbody .respond-to-mobile-portrait {
    background: #a7e040;
    color: white;
  }
  /* line 41, ../scss/style.scss */
  .mq-mixins-test tbody .respond-to-mobile-portrait .isResponding {
    display: inline;
  }
  /* line 42, ../scss/style.scss */
  .mq-mixins-test tbody .respond-to-mobile-portrait .isInactive {
    display: none;
  }
}
@media print and (min-width: 30em) and (max-width: 37.4375em) {
  /* line 70, ../scss/style.scss */
  .mq-mixins-test tbody .respond-to-mobile-landscape {
    background: #a7e040;
    color: white;
  }
  /* line 41, ../scss/style.scss */
  .mq-mixins-test tbody .respond-to-mobile-landscape .isResponding {
    display: inline;
  }
  /* line 42, ../scss/style.scss */
  .mq-mixins-test tbody .respond-to-mobile-landscape .isInactive {
    display: none;
  }
}
@media print and (min-width: 37.5em) and (max-width: 61.9375em) {
  /* line 76, ../scss/style.scss */
  .mq-mixins-test tbody .respond-to-tablet {
    background: #a7e040;
    color: white;
  }
  /* line 41, ../scss/style.scss */
  .mq-mixins-test tbody .respond-to-tablet .isResponding {
    display: inline;
  }
  /* line 42, ../scss/style.scss */
  .mq-mixins-test tbody .respond-to-tablet .isInactive {
    display: none;
  }
}
@media print and (min-width: 37.5em) and (max-width: 47.9375em) {
  /* line 82, ../scss/style.scss */
  .mq-mixins-test tbody .respond-to-tablet-portrait {
    background: #a7e040;
    color: white;
  }
  /* line 41, ../scss/style.scss */
  .mq-mixins-test tbody .respond-to-tablet-portrait .isResponding {
    display: inline;
  }
  /* line 42, ../scss/style.scss */
  .mq-mixins-test tbody .respond-to-tablet-portrait .isInactive {
    display: none;
  }
}
@media print and (min-width: 48em) and (max-width: 61.9375em) {
  /* line 88, ../scss/style.scss */
  .mq-mixins-test tbody .respond-to-tablet-landscape {
    background: #a7e040;
    color: white;
  }
  /* line 41, ../scss/style.scss */
  .mq-mixins-test tbody .respond-to-tablet-landscape .isResponding {
    display: inline;
  }
  /* line 42, ../scss/style.scss */
  .mq-mixins-test tbody .respond-to-tablet-landscape .isInactive {
    display: none;
  }
}
@media print and (min-width: 62em) {
  /* line 94, ../scss/style.scss */
  .mq-mixins-test tbody .respond-to-desktop {
    background: #a7e040;
    color: white;
  }
  /* line 41, ../scss/style.scss */
  .mq-mixins-test tbody .respond-to-desktop .isResponding {
    display: inline;
  }
  /* line 42, ../scss/style.scss */
  .mq-mixins-test tbody .respond-to-desktop .isInactive {
    display: none;
  }
}
@media print and (min-width: 20em) {
  /* line 103, ../scss/style.scss */
  .mq-mixins-test tbody .respond-to-mobile-and-up {
    background: #a7e040;
    color: white;
  }
  /* line 41, ../scss/style.scss */
  .mq-mixins-test tbody .respond-to-mobile-and-up .isResponding {
    display: inline;
  }
  /* line 42, ../scss/style.scss */
  .mq-mixins-test tbody .respond-to-mobile-and-up .isInactive {
    display: none;
  }
}
@media print and (min-width: 20em) {
  /* line 108, ../scss/style.scss */
  .mq-mixins-test tbody .respond-to-mobile-portrait-and-up {
    background: #a7e040;
    color: white;
  }
  /* line 41, ../scss/style.scss */
  .mq-mixins-test tbody .respond-to-mobile-portrait-and-up .isResponding {
    display: inline;
  }
  /* line 42, ../scss/style.scss */
  .mq-mixins-test tbody .respond-to-mobile-portrait-and-up .isInactive {
    display: none;
  }
}
@media print and (min-width: 30em) {
  /* line 113, ../scss/style.scss */
  .mq-mixins-test tbody .respond-to-mobile-landscape-and-up {
    background: #a7e040;
    color: white;
  }
  /* line 41, ../scss/style.scss */
  .mq-mixins-test tbody .respond-to-mobile-landscape-and-up .isResponding {
    display: inline;
  }
  /* line 42, ../scss/style.scss */
  .mq-mixins-test tbody .respond-to-mobile-landscape-and-up .isInactive {
    display: none;
  }
}
@media print and (min-width: 37.5em) {
  /* line 119, ../scss/style.scss */
  .mq-mixins-test tbody .respond-to-tablet-and-up {
    background: #a7e040;
    color: white;
  }
  /* line 41, ../scss/style.scss */
  .mq-mixins-test tbody .respond-to-tablet-and-up .isResponding {
    display: inline;
  }
  /* line 42, ../scss/style.scss */
  .mq-mixins-test tbody .respond-to-tablet-and-up .isInactive {
    display: none;
  }
}
@media print and (min-width: 37.5em) {
  /* line 125, ../scss/style.scss */
  .mq-mixins-test tbody .respond-to-tablet-portrait-and-up {
    background: #a7e040;
    color: white;
  }
  /* line 41, ../scss/style.scss */
  .mq-mixins-test tbody .respond-to-tablet-portrait-and-up .isResponding {
    display: inline;
  }
  /* line 42, ../scss/style.scss */
  .mq-mixins-test tbody .respond-to-tablet-portrait-and-up .isInactive {
    display: none;
  }
}
@media print and (min-width: 48em) {
  /* line 131, ../scss/style.scss */
  .mq-mixins-test tbody .respond-to-tablet-landscape-and-up {
    background: #a7e040;
    color: white;
  }
  /* line 41, ../scss/style.scss */
  .mq-mixins-test tbody .respond-to-tablet-landscape-and-up .isResponding {
    display: inline;
  }
  /* line 42, ../scss/style.scss */
  .mq-mixins-test tbody .respond-to-tablet-landscape-and-up .isInactive {
    display: none;
  }
}
@media print and (min-width: 62em) {
  /* line 137, ../scss/style.scss */
  .mq-mixins-test tbody .respond-to-desktop-and-up {
    background: #a7e040;
    color: white;
  }
  /* line 41, ../scss/style.scss */
  .mq-mixins-test tbody .respond-to-desktop-and-up .isResponding {
    display: inline;
  }
  /* line 42, ../scss/style.scss */
  .mq-mixins-test tbody .respond-to-desktop-and-up .isInactive {
    display: none;
  }
}
@media print and (max-width: 37.4375em) {
  /* line 146, ../scss/style.scss */
  .mq-mixins-test tbody .respond-to-mobile-and-below {
    background: #a7e040;
    color: white;
  }
  /* line 41, ../scss/style.scss */
  .mq-mixins-test tbody .respond-to-mobile-and-below .isResponding {
    display: inline;
  }
  /* line 42, ../scss/style.scss */
  .mq-mixins-test tbody .respond-to-mobile-and-below .isInactive {
    display: none;
  }
}
@media print and (max-width: 29.9375em) {
  /* line 151, ../scss/style.scss */
  .mq-mixins-test tbody .respond-to-mobile-portrait-and-below {
    background: #a7e040;
    color: white;
  }
  /* line 41, ../scss/style.scss */
  .mq-mixins-test tbody .respond-to-mobile-portrait-and-below .isResponding {
    display: inline;
  }
  /* line 42, ../scss/style.scss */
  .mq-mixins-test tbody .respond-to-mobile-portrait-and-below .isInactive {
    display: none;
  }
}
@media print and (max-width: 37.4375em) {
  /* line 156, ../scss/style.scss */
  .mq-mixins-test tbody .respond-to-mobile-landscape-and-below {
    background: #a7e040;
    color: white;
  }
  /* line 41, ../scss/style.scss */
  .mq-mixins-test tbody .respond-to-mobile-landscape-and-below .isResponding {
    display: inline;
  }
  /* line 42, ../scss/style.scss */
  .mq-mixins-test tbody .respond-to-mobile-landscape-and-below .isInactive {
    display: none;
  }
}
@media print and (max-width: 61.9375em) {
  /* line 162, ../scss/style.scss */
  .mq-mixins-test tbody .respond-to-tablet-and-below {
    background: #a7e040;
    color: white;
  }
  /* line 41, ../scss/style.scss */
  .mq-mixins-test tbody .respond-to-tablet-and-below .isResponding {
    display: inline;
  }
  /* line 42, ../scss/style.scss */
  .mq-mixins-test tbody .respond-to-tablet-and-below .isInactive {
    display: none;
  }
}
@media print and (max-width: 47.9375em) {
  /* line 168, ../scss/style.scss */
  .mq-mixins-test tbody .respond-to-tablet-portrait-and-below {
    background: #a7e040;
    color: white;
  }
  /* line 41, ../scss/style.scss */
  .mq-mixins-test tbody .respond-to-tablet-portrait-and-below .isResponding {
    display: inline;
  }
  /* line 42, ../scss/style.scss */
  .mq-mixins-test tbody .respond-to-tablet-portrait-and-below .isInactive {
    display: none;
  }
}
@media print and (max-width: 61.9375em) {
  /* line 174, ../scss/style.scss */
  .mq-mixins-test tbody .respond-to-tablet-landscape-and-below {
    background: #a7e040;
    color: white;
  }
  /* line 41, ../scss/style.scss */
  .mq-mixins-test tbody .respond-to-tablet-landscape-and-below .isResponding {
    display: inline;
  }
  /* line 42, ../scss/style.scss */
  .mq-mixins-test tbody .respond-to-tablet-landscape-and-below .isInactive {
    display: none;
  }
}
@media print and (max-width: 61.9375em) {
  /* line 180, ../scss/style.scss */
  .mq-mixins-test tbody .respond-to-desktop-and-below {
    background: #a7e040;
    color: white;
  }
  /* line 41, ../scss/style.scss */
  .mq-mixins-test tbody .respond-to-desktop-and-below .isResponding {
    display: inline;
  }
  /* line 42, ../scss/style.scss */
  .mq-mixins-test tbody .respond-to-desktop-and-below .isInactive {
    display: none;
  }
}
