/* line 17, ../scss/style.scss */
body {
  font: 16px/21px "Helvetica Neue", Arial, sans-serif;
}
@media only screen and (min-width: 20em) and (max-width: 37.4375em) {
  /* line 17, ../scss/style.scss */
  body {
    font-size: 95%;
  }
}

/* line 24, ../scss/style.scss */
.wrapper {
  margin: 0 auto;
  padding: 0 1em;
  max-width: 1000px;
}

/* line 30, ../scss/style.scss */
tr > td:first-child {
  width: 80%;
}

/* line 45, ../scss/style.scss */
.mq-mixins-test {
  width: 100%;
}
/* line 51, ../scss/style.scss */
.mq-mixins-test tbody .response-example {
  text-align: center;
  color: #ccc;
}
/* line 54, ../scss/style.scss */
.mq-mixins-test tbody .response-example .isResponding {
  display: none;
}
@media only screen and (min-width: 20em) and (max-width: 37.4375em) {
  /* line 63, ../scss/style.scss */
  .mq-mixins-test tbody .respond-to-mobile-only {
    background: #a7e040;
    color: white;
  }
  /* line 41, ../scss/style.scss */
  .mq-mixins-test tbody .respond-to-mobile-only .isResponding {
    display: inline;
  }
  /* line 42, ../scss/style.scss */
  .mq-mixins-test tbody .respond-to-mobile-only .isInactive {
    display: none;
  }
}
@media only screen and (min-width: 20em) {
  /* line 63, ../scss/style.scss */
  .mq-mixins-test tbody .respond-to-mobile-and-up {
    background: #a7e040;
    color: white;
  }
  /* line 41, ../scss/style.scss */
  .mq-mixins-test tbody .respond-to-mobile-and-up .isResponding {
    display: inline;
  }
  /* line 42, ../scss/style.scss */
  .mq-mixins-test tbody .respond-to-mobile-and-up .isInactive {
    display: none;
  }
}
@media only screen and (max-width: 37.4375em) {
  /* line 63, ../scss/style.scss */
  .mq-mixins-test tbody .respond-to-mobile-and-below {
    background: #a7e040;
    color: white;
  }
  /* line 41, ../scss/style.scss */
  .mq-mixins-test tbody .respond-to-mobile-and-below .isResponding {
    display: inline;
  }
  /* line 42, ../scss/style.scss */
  .mq-mixins-test tbody .respond-to-mobile-and-below .isInactive {
    display: none;
  }
}
@media only screen and (min-width: 20em) and (max-width: 29.9375em) {
  /* line 63, ../scss/style.scss */
  .mq-mixins-test tbody .respond-to-mobile-portrait-only {
    background: #a7e040;
    color: white;
  }
  /* line 41, ../scss/style.scss */
  .mq-mixins-test tbody .respond-to-mobile-portrait-only .isResponding {
    display: inline;
  }
  /* line 42, ../scss/style.scss */
  .mq-mixins-test tbody .respond-to-mobile-portrait-only .isInactive {
    display: none;
  }
}
@media only screen and (min-width: 20em) {
  /* line 63, ../scss/style.scss */
  .mq-mixins-test tbody .respond-to-mobile-portrait-and-up {
    background: #a7e040;
    color: white;
  }
  /* line 41, ../scss/style.scss */
  .mq-mixins-test tbody .respond-to-mobile-portrait-and-up .isResponding {
    display: inline;
  }
  /* line 42, ../scss/style.scss */
  .mq-mixins-test tbody .respond-to-mobile-portrait-and-up .isInactive {
    display: none;
  }
}
@media only screen and (max-width: 29.9375em) {
  /* line 63, ../scss/style.scss */
  .mq-mixins-test tbody .respond-to-mobile-portrait-and-below {
    background: #a7e040;
    color: white;
  }
  /* line 41, ../scss/style.scss */
  .mq-mixins-test tbody .respond-to-mobile-portrait-and-below .isResponding {
    display: inline;
  }
  /* line 42, ../scss/style.scss */
  .mq-mixins-test tbody .respond-to-mobile-portrait-and-below .isInactive {
    display: none;
  }
}
@media only screen and (min-width: 30em) and (max-width: 37.4375em) {
  /* line 63, ../scss/style.scss */
  .mq-mixins-test tbody .respond-to-mobile-landscape-only {
    background: #a7e040;
    color: white;
  }
  /* line 41, ../scss/style.scss */
  .mq-mixins-test tbody .respond-to-mobile-landscape-only .isResponding {
    display: inline;
  }
  /* line 42, ../scss/style.scss */
  .mq-mixins-test tbody .respond-to-mobile-landscape-only .isInactive {
    display: none;
  }
}
@media only screen and (min-width: 30em) {
  /* line 63, ../scss/style.scss */
  .mq-mixins-test tbody .respond-to-mobile-landscape-and-up {
    background: #a7e040;
    color: white;
  }
  /* line 41, ../scss/style.scss */
  .mq-mixins-test tbody .respond-to-mobile-landscape-and-up .isResponding {
    display: inline;
  }
  /* line 42, ../scss/style.scss */
  .mq-mixins-test tbody .respond-to-mobile-landscape-and-up .isInactive {
    display: none;
  }
}
@media only screen and (max-width: 37.4375em) {
  /* line 63, ../scss/style.scss */
  .mq-mixins-test tbody .respond-to-mobile-landscape-and-below {
    background: #a7e040;
    color: white;
  }
  /* line 41, ../scss/style.scss */
  .mq-mixins-test tbody .respond-to-mobile-landscape-and-below .isResponding {
    display: inline;
  }
  /* line 42, ../scss/style.scss */
  .mq-mixins-test tbody .respond-to-mobile-landscape-and-below .isInactive {
    display: none;
  }
}
@media only screen and (min-width: 37.5em) and (max-width: 61.9375em) {
  /* line 63, ../scss/style.scss */
  .mq-mixins-test tbody .respond-to-tablet-only {
    background: #a7e040;
    color: white;
  }
  /* line 41, ../scss/style.scss */
  .mq-mixins-test tbody .respond-to-tablet-only .isResponding {
    display: inline;
  }
  /* line 42, ../scss/style.scss */
  .mq-mixins-test tbody .respond-to-tablet-only .isInactive {
    display: none;
  }
}
@media only screen and (min-width: 37.5em) {
  /* line 63, ../scss/style.scss */
  .mq-mixins-test tbody .respond-to-tablet-and-up {
    background: #a7e040;
    color: white;
  }
  /* line 41, ../scss/style.scss */
  .mq-mixins-test tbody .respond-to-tablet-and-up .isResponding {
    display: inline;
  }
  /* line 42, ../scss/style.scss */
  .mq-mixins-test tbody .respond-to-tablet-and-up .isInactive {
    display: none;
  }
}
@media only screen and (max-width: 61.9375em) {
  /* line 63, ../scss/style.scss */
  .mq-mixins-test tbody .respond-to-tablet-and-below {
    background: #a7e040;
    color: white;
  }
  /* line 41, ../scss/style.scss */
  .mq-mixins-test tbody .respond-to-tablet-and-below .isResponding {
    display: inline;
  }
  /* line 42, ../scss/style.scss */
  .mq-mixins-test tbody .respond-to-tablet-and-below .isInactive {
    display: none;
  }
}
@media only screen and (min-width: 37.5em) and (max-width: 47.9375em) {
  /* line 63, ../scss/style.scss */
  .mq-mixins-test tbody .respond-to-tablet-portrait-only {
    background: #a7e040;
    color: white;
  }
  /* line 41, ../scss/style.scss */
  .mq-mixins-test tbody .respond-to-tablet-portrait-only .isResponding {
    display: inline;
  }
  /* line 42, ../scss/style.scss */
  .mq-mixins-test tbody .respond-to-tablet-portrait-only .isInactive {
    display: none;
  }
}
@media only screen and (min-width: 37.5em) {
  /* line 63, ../scss/style.scss */
  .mq-mixins-test tbody .respond-to-tablet-portrait-and-up {
    background: #a7e040;
    color: white;
  }
  /* line 41, ../scss/style.scss */
  .mq-mixins-test tbody .respond-to-tablet-portrait-and-up .isResponding {
    display: inline;
  }
  /* line 42, ../scss/style.scss */
  .mq-mixins-test tbody .respond-to-tablet-portrait-and-up .isInactive {
    display: none;
  }
}
@media only screen and (max-width: 47.9375em) {
  /* line 63, ../scss/style.scss */
  .mq-mixins-test tbody .respond-to-tablet-portrait-and-below {
    background: #a7e040;
    color: white;
  }
  /* line 41, ../scss/style.scss */
  .mq-mixins-test tbody .respond-to-tablet-portrait-and-below .isResponding {
    display: inline;
  }
  /* line 42, ../scss/style.scss */
  .mq-mixins-test tbody .respond-to-tablet-portrait-and-below .isInactive {
    display: none;
  }
}
@media only screen and (min-width: 48em) and (max-width: 61.9375em) {
  /* line 63, ../scss/style.scss */
  .mq-mixins-test tbody .respond-to-tablet-landscape-only {
    background: #a7e040;
    color: white;
  }
  /* line 41, ../scss/style.scss */
  .mq-mixins-test tbody .respond-to-tablet-landscape-only .isResponding {
    display: inline;
  }
  /* line 42, ../scss/style.scss */
  .mq-mixins-test tbody .respond-to-tablet-landscape-only .isInactive {
    display: none;
  }
}
@media only screen and (min-width: 48em) {
  /* line 63, ../scss/style.scss */
  .mq-mixins-test tbody .respond-to-tablet-landscape-and-up {
    background: #a7e040;
    color: white;
  }
  /* line 41, ../scss/style.scss */
  .mq-mixins-test tbody .respond-to-tablet-landscape-and-up .isResponding {
    display: inline;
  }
  /* line 42, ../scss/style.scss */
  .mq-mixins-test tbody .respond-to-tablet-landscape-and-up .isInactive {
    display: none;
  }
}
@media only screen and (max-width: 61.9375em) {
  /* line 63, ../scss/style.scss */
  .mq-mixins-test tbody .respond-to-tablet-landscape-and-below {
    background: #a7e040;
    color: white;
  }
  /* line 41, ../scss/style.scss */
  .mq-mixins-test tbody .respond-to-tablet-landscape-and-below .isResponding {
    display: inline;
  }
  /* line 42, ../scss/style.scss */
  .mq-mixins-test tbody .respond-to-tablet-landscape-and-below .isInactive {
    display: none;
  }
}
@media only screen and (min-width: 62em) {
  /* line 63, ../scss/style.scss */
  .mq-mixins-test tbody .respond-to-desktop-only {
    background: #a7e040;
    color: white;
  }
  /* line 41, ../scss/style.scss */
  .mq-mixins-test tbody .respond-to-desktop-only .isResponding {
    display: inline;
  }
  /* line 42, ../scss/style.scss */
  .mq-mixins-test tbody .respond-to-desktop-only .isInactive {
    display: none;
  }
}
@media only screen and (min-width: 62em) {
  /* line 63, ../scss/style.scss */
  .mq-mixins-test tbody .respond-to-desktop-and-up {
    background: #a7e040;
    color: white;
  }
  /* line 41, ../scss/style.scss */
  .mq-mixins-test tbody .respond-to-desktop-and-up .isResponding {
    display: inline;
  }
  /* line 42, ../scss/style.scss */
  .mq-mixins-test tbody .respond-to-desktop-and-up .isInactive {
    display: none;
  }
}
@media only screen and (max-width: 61.9375em) {
  /* line 63, ../scss/style.scss */
  .mq-mixins-test tbody .respond-to-desktop-and-below {
    background: #a7e040;
    color: white;
  }
  /* line 41, ../scss/style.scss */
  .mq-mixins-test tbody .respond-to-desktop-and-below .isResponding {
    display: inline;
  }
  /* line 42, ../scss/style.scss */
  .mq-mixins-test tbody .respond-to-desktop-and-below .isInactive {
    display: none;
  }
}
@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min--moz-device-pixel-ratio: 1.5), only screen and (-o-min-device-pixel-ratio: 3 / 2), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 1.5dppx) {
  /* line 71, ../scss/style.scss */
  .mq-mixins-test tbody .respond-to-retina {
    background: #a7e040;
    color: white;
  }
  /* line 41, ../scss/style.scss */
  .mq-mixins-test tbody .respond-to-retina .isResponding {
    display: inline;
  }
  /* line 42, ../scss/style.scss */
  .mq-mixins-test tbody .respond-to-retina .isInactive {
    display: none;
  }
}
