/* line 17, ../scss/style.scss */
body {
  font: 16px/21px "Helvetica Neue", Arial, sans-serif;
}

/* line 24, ../scss/style.scss */
.wrapper {
  margin: 0 auto;
  padding: 0 1em;
  max-width: 1000px;
}

/* line 30, ../scss/style.scss */
tr > td:first-child {
  width: 80%;
}

/* line 45, ../scss/style.scss */
.mq-mixins-test {
  width: 100%;
}
/* line 51, ../scss/style.scss */
.mq-mixins-test tbody .response-example {
  text-align: center;
  color: #ccc;
}
/* line 54, ../scss/style.scss */
.mq-mixins-test tbody .response-example .isResponding {
  display: none;
}
/* line 63, ../scss/style.scss */
.mq-mixins-test tbody .respond-to-mobile-and-up {
  background: #a7e040;
  color: white;
}
/* line 41, ../scss/style.scss */
.mq-mixins-test tbody .respond-to-mobile-and-up .isResponding {
  display: inline;
}
/* line 42, ../scss/style.scss */
.mq-mixins-test tbody .respond-to-mobile-and-up .isInactive {
  display: none;
}
/* line 63, ../scss/style.scss */
.mq-mixins-test tbody .respond-to-mobile-portrait-and-up {
  background: #a7e040;
  color: white;
}
/* line 41, ../scss/style.scss */
.mq-mixins-test tbody .respond-to-mobile-portrait-and-up .isResponding {
  display: inline;
}
/* line 42, ../scss/style.scss */
.mq-mixins-test tbody .respond-to-mobile-portrait-and-up .isInactive {
  display: none;
}
/* line 63, ../scss/style.scss */
.mq-mixins-test tbody .respond-to-mobile-landscape-and-up {
  background: #a7e040;
  color: white;
}
/* line 41, ../scss/style.scss */
.mq-mixins-test tbody .respond-to-mobile-landscape-and-up .isResponding {
  display: inline;
}
/* line 42, ../scss/style.scss */
.mq-mixins-test tbody .respond-to-mobile-landscape-and-up .isInactive {
  display: none;
}
/* line 63, ../scss/style.scss */
.mq-mixins-test tbody .respond-to-tablet-only {
  background: #a7e040;
  color: white;
}
/* line 41, ../scss/style.scss */
.mq-mixins-test tbody .respond-to-tablet-only .isResponding {
  display: inline;
}
/* line 42, ../scss/style.scss */
.mq-mixins-test tbody .respond-to-tablet-only .isInactive {
  display: none;
}
/* line 63, ../scss/style.scss */
.mq-mixins-test tbody .respond-to-tablet-and-up {
  background: #a7e040;
  color: white;
}
/* line 41, ../scss/style.scss */
.mq-mixins-test tbody .respond-to-tablet-and-up .isResponding {
  display: inline;
}
/* line 42, ../scss/style.scss */
.mq-mixins-test tbody .respond-to-tablet-and-up .isInactive {
  display: none;
}
/* line 63, ../scss/style.scss */
.mq-mixins-test tbody .respond-to-tablet-and-below {
  background: #a7e040;
  color: white;
}
/* line 41, ../scss/style.scss */
.mq-mixins-test tbody .respond-to-tablet-and-below .isResponding {
  display: inline;
}
/* line 42, ../scss/style.scss */
.mq-mixins-test tbody .respond-to-tablet-and-below .isInactive {
  display: none;
}
/* line 63, ../scss/style.scss */
.mq-mixins-test tbody .respond-to-tablet-portrait-only {
  background: #a7e040;
  color: white;
}
/* line 41, ../scss/style.scss */
.mq-mixins-test tbody .respond-to-tablet-portrait-only .isResponding {
  display: inline;
}
/* line 42, ../scss/style.scss */
.mq-mixins-test tbody .respond-to-tablet-portrait-only .isInactive {
  display: none;
}
/* line 63, ../scss/style.scss */
.mq-mixins-test tbody .respond-to-tablet-portrait-and-up {
  background: #a7e040;
  color: white;
}
/* line 41, ../scss/style.scss */
.mq-mixins-test tbody .respond-to-tablet-portrait-and-up .isResponding {
  display: inline;
}
/* line 42, ../scss/style.scss */
.mq-mixins-test tbody .respond-to-tablet-portrait-and-up .isInactive {
  display: none;
}
/* line 63, ../scss/style.scss */
.mq-mixins-test tbody .respond-to-tablet-portrait-and-below {
  background: #a7e040;
  color: white;
}
/* line 41, ../scss/style.scss */
.mq-mixins-test tbody .respond-to-tablet-portrait-and-below .isResponding {
  display: inline;
}
/* line 42, ../scss/style.scss */
.mq-mixins-test tbody .respond-to-tablet-portrait-and-below .isInactive {
  display: none;
}
/* line 63, ../scss/style.scss */
.mq-mixins-test tbody .respond-to-tablet-landscape-and-below {
  background: #a7e040;
  color: white;
}
/* line 41, ../scss/style.scss */
.mq-mixins-test tbody .respond-to-tablet-landscape-and-below .isResponding {
  display: inline;
}
/* line 42, ../scss/style.scss */
.mq-mixins-test tbody .respond-to-tablet-landscape-and-below .isInactive {
  display: none;
}
/* line 63, ../scss/style.scss */
.mq-mixins-test tbody .respond-to-desktop-and-below {
  background: #a7e040;
  color: white;
}
/* line 41, ../scss/style.scss */
.mq-mixins-test tbody .respond-to-desktop-and-below .isResponding {
  display: inline;
}
/* line 42, ../scss/style.scss */
.mq-mixins-test tbody .respond-to-desktop-and-below .isInactive {
  display: none;
}
/* line 71, ../scss/style.scss */
.mq-mixins-test tbody .respond-to-ie {
  background: #a7e040;
  color: white;
}
/* line 41, ../scss/style.scss */
.mq-mixins-test tbody .respond-to-ie .isResponding {
  display: inline;
}
/* line 42, ../scss/style.scss */
.mq-mixins-test tbody .respond-to-ie .isInactive {
  display: none;
}
